<%- include('header'); %>

<h1>Jeu de Mémo</h1>
<div class="grille">
    <div>A</div>
    <div>B</div>
    <div>F</div>
    <div>A</div>
    <div>E</div>
    <div>A</div>
    <div>C</div>
    <div>A</div>
    <div>F</div>
    <div>A</div>
    <div>C</div>
    <div>A</div>
</div>

<%- include('footer'); %>