<%- include('header'); %>

<div class="container">
    <div class="head">
        <h1>Memory card</h1>
        <div class="score">
            <p>Pseudo</p>
            <p>Coups : 0</p>
        </div>
        <p id="time">00:00</p>
    </div>
    <div class="grid">
        <div class="card" data-index="1">
            <span>
                <p>🍑</p>
            </span>
        </div>
        <div class="card" data-index="1">
            <span>
                <p>🍑</p>
            </span>
        </div>
        <div class="card" data-index="2">
            <span>
                <p>🍊</p>
            </span>
        </div>
        <div class="card" data-index="2">
            <span>
                <p>🍊</p>
            </span>
        </div>
        <div class="card" data-index="3">
            <span>
                <p>🍒</p>
            </span>
        </div>
        <div class="card" data-index="3">
            <span>
                <p>🍒</p>
            </span>
        </div>
        <div class="card" data-index="4">
            <span>
                <p>🍋</p>
            </span>
        </div>
        <div class="card" data-index="4">
            <span>
                <p>🍋</p>
            </span>
        </div>
        <div class="card" data-index="5">
            <span>
                <p>🍌</p>
            </span>
        </div>
        <div class="card" data-index="5">
            <span>
                <p>🍌</p>
            </span>
        </div>
        <div class="card" data-index="6">
            <span>
                <p>🍉</p>
            </span>
        </div>
        <div class="card" data-index="6">
            <span>
                <p>🍉</p>
            </span>
        </div>
    </div>
</div>

<%- include('footer'); %>