<%- include('header'); %>

    <div class="container">
        <h1>Memory Game</h1>
        <div class="container-form">
            <h2>Entrez votre pseudo</h2>
            <form method="post">
                <input type="text" name="pseudo" required placeholder="Pseudo" maxlength="20">
                <input type="submit" value="Jouer !" id="play">
            </form>
        </div>
    </div>

    <%- include('footer'); %>