*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 2.3rem;
    font-weight: normal;
    color: white;
}

.container {
    width: 100%;
    max-width: 40em;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container-form {
    background-color: aliceblue;
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-form form input {
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    border: 1px solid black;
    color: darkslateblue;
    text-align: center;
}

.container-form form input:focus-visible {
    border-color: greenyellow;
}

.container-form form label {
    font-size: 1.7rem;
    color: cornflowerblue;
    font-weight: bold;
    padding-bottom: 1rem;
}

::placeholder,
::-webkit-input-placeholder {
    text-align: center;
}

.container-form form input[type='submit'] {
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    background-color: cornflowerblue;
    border: none;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.head .score {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 3rem;
    background-color: aliceblue;
    font-weight: bold;
    border-radius: 2rem;
}

.head .score div p {
    display: inline-block;
}

.head #time {
    font-size: 3rem;
    color: aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
}

.card {
    aspect-ratio: 1;
    width: 20vw;
    max-width: 150px;
    position: relative;
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    cursor: pointer;
}

.card::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    z-index: 10;
    transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
    opacity: 1;
}

.card span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: aliceblue;
}

.flip::before {
    opacity: 0;
}

.match::before {
    opacity: 0;
}

.match {
    border: 2px solid greenyellow;
    pointer-events: none;
}


h2 {
    color: cornflowerblue;
}

table {
    color: darkslateblue;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;

}

td {
    padding: 1rem 2rem;
}

#end {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: darkslateblue;
    z-index: 40;
}